tr.group-color-1{
    background-color:plum;
    color:white;
}
tr.group-color-2{
    background-color:royalblue;
    color:white;
}
tr.group-color-3{
    background-color:tomato;
    color:white;
}
tr.group-color-4{
    background-color:sienna;
    color:white;
}
tr.group-color-5{
    background-color:seagreen;
    color:white;
}
tr.group-color-6{
    background-color:orange;
    color:white;
}
tr.group-color-7{
    background-color:lightsalmon;
    color:white;
}
tr.group-color-8{
    background-color:slateblue;
    color:white;
}
tr.group-color-9{
    background-color:hotpink;
    color:white;
}
tr.group-color-10{
    background-color:green;
    color:white;
}
tr.group-color-11{
    background-color:coral;
    color:white;
}

