body {
    background-color: #ecf0ef !important;
}

@media only screen and (min-width:600px) {
    body {
        width: 600px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #footer-bar {
        width: 600px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .header {
        width: 600px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .page-title {
        width: 600px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .card {
        max-width: 600px;

    }

    .card-fixed {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .menu-active.menu {
        width: 600px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .menu {
        width: 600px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .img-payment {
        width: 100px;
    }

    

    .notification {
        width: 600px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .modal-content {
        width: 600px;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    iframe html body {
        width: 600px !important;
        background-color: #ecf0ef !important;
        /* margin-left: auto !important;
        margin-right: auto !important; */
    }
}