.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

er_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/


#add by Hadyan
/system/
/application/config/config.php
/application/config/database.php
*/cache/*
index.php
uploads/*
/logs-bsi/
/asset/appkit/_manifest.json
/service-worker.js
/asset/appkit/scripts/custom.js
error_log
/asset/images/agen/*
!/asset/images/jamaah/*
/asset/images/staff/*

#add bt rian
!/asset/datepicker/*
/application/controllers/Push_Notification.php
/application/views/firebase_script.php
/application/controllers/Call_notification.php
/application/views/call_notification.php
/application/models/Notification.php
/asset/easy_datepicker/*
